div {
  width: 100px;
  height: 100px;
  background: red;
}

div:hover {
  width: 300px;
  /* transition-delay: 0;
  transition-duration: 2s;
  transition-property: width;
  transition-timing-function: ease-in-out; */
  transition: width 2s ease-in-out 0s;
}
